<ion-header>
  <ion-navbar class="bar-stable">
      <ion-row>
      <ion-col width-10>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> 
      </ion-col>
      <ion-col width-80>
        <ion-title>Medicine Info</ion-title>
      </ion-col> 
    </ion-row>
    <search-bar></search-bar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row class="ion-row-bordered">
      <button (click)="openLeaveReviewModal()" ion-button block full>{{ reviewAction }}</button>
    </ion-row>
    <ion-row class="ion-row-bordered">
      <button (click)="openReadReviewsModal()" ion-button block full>Read Reviews</button>
    </ion-row>
    <ion-row class="ion-row-bordered">
      <button (click)="openStoreLocatorModal()" ion-button block full>Store Locator</button>
    </ion-row>
    <ion-row class="center">
      <ion-item style="padding: 0; display: inline-block; width: 4rem;" *ngFor="let star of stars">
        <ion-icon name="star" class="no-border" color="bright"></ion-icon>
      </ion-item>
      <ion-item style="padding: 0; display: inline-block; width: 4rem;" *ngFor="let half_star of half_stars">
        <ion-icon name="star-half" class="no-border" color="bright"></ion-icon>
      </ion-item>
    </ion-row> 
    <ion-row><div class="card-title"><p>{{ no_rating }}</p></div></ion-row>
    <ion-row>
      <img src="images/mockMedicine.jpg">
    </ion-row>
    <ion-row class="ion-row-bordered">
      <div style="text-align: center; width: 100%;"><h1>{{ title }}</h1></div>
    </ion-row>
    <ion-row>
        <span class="large" [innerHTML]="elderly"></span>
    </ion-row>

    <ion-row class="ion-row-bordered">
      <div class="div-card card"><div class="card-block">
        <div class="card-title"><h2>Overview</h2></div>
        <span class="large" [innerHTML]="description"></span>
      </div>
    </div></ion-row>

    <ion-row class="ion-row-bordered">
      <div class="div-card card"><div class="card-block">
        <div class="card-title"><h2>Benefits</h2></div>
        <span class="large" [innerHTML]="benefits"></span>
      </div>
      </div></ion-row>

    <ion-row class="ion-row-bordered">
      <div class="div-card card"><div class="card-block">
        <div class="card-title"><h2>Side Effects</h2></div>
        <span class="large" [innerHTML]="side_effects"></span>
      </div>
    </div></ion-row>

    <ion-row>
      <ion-content>
        <div #map id="map"></div>  
      </ion-content>
    </ion-row>
    



  </ion-grid>
</ion-content>
 


