// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

    .scroll-content {
        height: 100%
    }

    #map {
        width: 100%;
        height: 100%;
    }

.scroll {
  height: 100%;
}

.center {
  text-align: center;
}

.labels {
 color: black;

 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 20px;
 text-align: center;
 width: 80px;     
 white-space: nowrap;
}

.list-header-md {
  margin-bottom: 0;
}

.list-md {
  margin: -1px 0 0 0;
}

.toolbar-background {
  background-color: #4E4F4F !important;
}

.item-md {
  padding: 0;
}

.label {
  padding-left: 1rem;
}

.item-label-floating {
  padding-left: 0 !important;
}


.button-default, .btn {
 background-color: #5b5f66 !important;
}

.toolbar-title, .bar-button {
  color: white !important;
}

.alert-wrapper h2, h3 {
  color: black !important;
}

ion-content {
  background-color: black !important;
  overflow-y: scroll;
}

.list-header-md {
  border-top: 0;
}

[hidden] {
  display: block !important;
}

.back-button {
  display: none !important;
}

body {
  color: white !important;
}

h1, h2, h3, h4, b, p, pre {
  color: white !important;
}

.alert-sub-title {
  color: black !important;
}

.card-title {
  text-align: center;
  width: 100%;
}

.card-block {
  font-size: 150%;
}

.myprofile-font {
  font-family: none;
}

.ion-row-bordered {
  border-bottom: 1px solid #ccc;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.barcodeScanner {
  width: 75% !important;
  height: 75% !important;
  margin: 0px auto;
  display:block
}

.div-card {
  height: 100% !important;
  width: 100%;
  margin: 5px;
  background-color: #5b5f66 !important;
}

.item {
  background-color: black !important;
  color: white !important;
}

img {
  width: 100%;
  height: 100%;
}



